{% extends "page/checkout/inc/basketcontents.html.twig" %}

{% block checkout_basketcontents_summary %}
    {{ parent() }}

    {% set aKlPromotion = oViewConf.getOnSitePromotionInfo('sKlarnaCreditPromotionBasket') %}
    {% set sKlarnaMessagingScript = oViewConf.getOnSitePromotionInfo('sKlarnaMessagingScript') %}
    {% if aKlPromotion and sKlarnaMessagingScript|trim %}
        <div class="clear clearfix"></div>

        <div class="col-12">
            <div class="kl-basket-rate-note pull-right float-right" {% if oViewConf.isActiveThemeApex() %}style="margin-bottom: 20px;"{% endif %}>
                {{ aKlPromotion|raw }}
            </div>
        </div>
    {% endif %}
{% endblock %}