{% extends "page/details/inc/productmain.html.twig" %}

{% block details_productmain_variantselections %}
    {{ parent() }}


    {{ script({ add: "$('.selectorsBox a').on('change',refreshKlarnaMessage());", dynamic: __oxid_include_dynamic }) }}
    <script>
        function refreshKlarnaMessage() {
            window.KlarnaOnsiteService = window.KlarnaOnsiteService || [];  // Making sure that data layer exists in case JavaScript Library is loaded later for any reason
            window.KlarnaOnsiteService.push({eventName: 'refresh-placements'}); // Push the event to the data layer
        }
    </script>
{% endblock %}

{% block details_productmain_tobasket %}
    {{ parent() }}

    {% set aKlPromotion = oViewConf.getOnSitePromotionInfo('sKlarnaCreditPromotionProduct', oDetailsProduct) %}
    {% set sKlarnaMessagingScript = oViewConf.getOnSitePromotionInfo('sKlarnaMessagingScript') %}
    {% if aKlPromotion and sKlarnaMessagingScript|trim %}
        <div id="credit_promo">
            {{ aKlPromotion|raw }}
        </div>
        <div class="clear clearfix"></div>
    {% endif %}

    <style>
        .klarna-express-button {
            margin-bottom: 5px;
        }

        body.cl-details .tobasket .tobasketFunction{
            display:inline-block;
        }
    </style>
{% endblock %}


